
  
  body {
    margin: 0;
    font-family: 'Monaco', monospace;
    background: #302525;
  }

  * {
    box-sizing: border-box;
  }

  nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background: linear-gradient(to right bottom, #85ABCE 50%, #FB5A5A calc(50% + 1px));
  }

  .main {
      min-height: calc(100vh - 120px);
      margin: 5vw;
  }

  footer {
    background: #85ABCE 50%;
    padding: 1rem 1rem;
    /* position: sticky; */
    bottom: 0;
  }

  #footer-copyright {
      display: flex;
      justify-content: center;
  }

  .links {
    display: flex;
    margin: 0 -1rem;
    
  }
  
  .links a {
    display: inline-block;
    margin: 0 1em;
    background-color: #85ABCE;
    box-shadow: 2.5px 8px 15px -5.5px rgba(0, 0, 0, 0.4);
    padding: .3rem;
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  nav a {
    color: #0f0f0f;
    text-decoration: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  h1, p, label {
    color: aliceblue;
  }

  .center {
    text-align: center;
  }

